target/*
.idea
CMDI_Profiles/*
Output/*
Output_old/*
updated_cmdis/*
src/test/resources/CMDIs/*
src/main/resources/clarin.eucr1p_1527668176126.xml
src/main/resources/clarin.eucr1p_1527668176122.xml
no_comment_124.xml
CMD432_no_comment.xml
clarin.eucr1p_1527668176122.xml
src/test/resources/OtherCMDIs/clarin.eucr1p_1336550377513_(1).xml
src/test/resources/OtherCMDIs/clarin.eucr1p_1336550377513_(2).xml
src/test/resources/OtherCMDIs/clarin.eucr1p_1336550377513_(3).xml
src/test/resources/OtherCMDIs/DGDEvent_(1).xml
src/test/resources/OtherCMDIs/SpokenCorpusProfile_(1).xml
src/test/resources/OtherCMDIs/*
CMDI2RDF.jar
src/test/resources/updated_cmdis/*